.dial {
    height: 400px;
    width: 400px;
  }
  
  .timer {
    position: relative;
    display: inline-block;
  }
  
  * {
    font: inherit;
  }
  
  body {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .timer input {
    display: block;
    border: none;
    width: 140px;
    font-size: 50px;
    text-align: center;
  }
  
  .timer button {
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  
  .timer button:focus {
    outline: none;
  }
  
  .timer input:focus {
    outline: 1px solid black;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }